@media only screen and (max-width: 1140px) {
    .main {
        display: flex;
        flex-direction: column;
    }

    .num {
        width: 90vw;
        height: 84vh;
    }

    .text {
        text-align: center;
        width: 83vw;
       height: fit-content;

    }

    .inp {
        width: 60vw;
    }

    .inin {
        font-size: 25px;
        padding: 1.5rem;
    }

    .spc {
        width: 90vw;
        height: 80vh;
    }

    .text1 {
        text-align: center;
        width: 83vw;
        height: fit-content;

    }

    .inp1 {
        width: 60vw;
    }

   

    .in{
        font-weight:900 ;
        font-size: 30px;
    }
    .viz{
        display: none;
    }
    .btnh{
        margin:rem ;
    }
}

@media only screen and (max-width: 500px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

}